body {
    font-family: 'Patrick Hand', cursive;
    font-size: 22pt;
    background-color: rgb(119, 175, 199);
}

header {
    text-align: center;
    color: whitesmoke;
}

section {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20);
    padding: 25px;
    width: 500px;
    margin: auto;
    text-align: center;
}

#imagem {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin: auto;
}

footer {
    text-align: center;
    color: whitesmoke;
    font-size: 18px;
}